In [ ]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor, AdaBoostRegressor

In [3]:
df = pd.read_csv('../bagging/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,6762700020,20141013T000000,7700000,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
1,9808700762,20140611T000000,7062500,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
2,9208900037,20140919T000000,6885000,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
3,2470100110,20140804T000000,5570000,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
4,8907500070,20150413T000000,5350000,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750

In [4]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [11]:
cols_to_drop = ['id', 'date', 'zipcode', 'lat', 'long']
df = df.drop(columns=cols_to_drop, axis=1)

In [18]:
df.shape

(21613, 16)

In [13]:
X = df.drop(columns='price', axis=1)
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
gradient_boosting_regressor = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, max_depth=1, random_state=42)
gradient_boosting_regressor.fit(X_train, y_train)

y_pred = gradient_boosting_regressor.predict(X_test)
y_train_pred = gradient_boosting_regressor.predict(X_train)

In [27]:
from sklearn.metrics import mean_squared_error, r2_score
mse_test = mean_squared_error(y_test, y_pred)
r2_test = r2_score(y_test, y_pred)
adjusted_r2_test = 1 - (1 - r2_test) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)

mse_train = mean_squared_error(y_train, y_train_pred)
r2_train = r2_score(y_train, y_train_pred)
adjusted_r2_train = 1 - (1 - r2_test) * (len(y_train) - 1) / (len(y_train) - X_test.shape[1] - 1)


print("Training Set Performance:")
print(f'Mean Squared Error: {mse_train}')
print(f'R^2 Score: {r2_train}')
print(f'Adjusted R^2 Score: {adjusted_r2_train}')

print("*" * 50)
print("Test Set Performance:")
print(f'Mean Squared Error: {mse_test}')
print(f'R^2 Score: {r2_test}')
print(f'Adjusted R^2 Score: {adjusted_r2_test}')

Training Set Performance:
Mean Squared Error: 39826084253.683014
R^2 Score: 0.7118942474200518
Adjusted R^2 Score: 0.7085508147425685
**************************************************
Test Set Performance:
Mean Squared Error: 35203059292.337776
R^2 Score: 0.7088036771278343
Adjusted R^2 Score: 0.7077895269436962